*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background-image: url("./State_Gifts_Presentation_Sword.jpeg");
  background-position: center;
}
.header{
  position: relative;
  top: 24px;
  width: fit-content;
  padding: 12px;
  margin: auto;
  background-color: white;
}
.procedure{
  color: #46D9E2;
}

.warning{
  color: red;
  display: none;
  
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  border-radius: 10px;
  color: white;
  width: 95vw;
  height: 62vh;
}
.btn{
  background-color: #46D9E2;
 

}
.output{
  height: 30vh;
  width: 65vw;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: black;
  position: absolute;
  left: 15.5vw;
  top: 16.5vh;
  display: none;
  
}
#outName{
  color: #46D9E2;
  margin-top: 12px;
  font-weight: 900;
}