*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background-image: url("./State_Gifts_Presentation_Sword.jpeg");
  background-position: center;
}
.header{
  position: relative;
  top: 24px;
  width: fit-content;
  padding: 12px;
  margin: auto;
  background-color: white;
}
.procedure{
  color: #46D9E2;
}

.warning{
  color: #e91616;
  display: none;
  
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  border-radius: 10px;
  color: white;
  width: 95vw;
  height: 62vh;
}
.btn{
  background-color: #46D9E2;
 

}
.output{
  height: 30vh;
  width: 65vw;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: rgba(0,0,0,0.85);
  position: absolute;
  left: 15.5vw;
  top: 16.5vh;
  /* display: none; */
  
}
#outName{
  color: #46D9E2;
  margin-top: 12px;
  font-weight: 900;
}
.footer{
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0,0,0,0.75);
  width: 95vw;
  left: 2.5vw;
 
}
.footer a{
  color: #46D9E2;
}

@media only screen and (min-width:767px) {
  *{
    font-size: large;
  }
  .overlay{
    width: 40vw;
    height: 65vh;
    margin: auto;

  }
  .overlay p{
    width: 30vw;
    margin: auto;
  }
  .output{
    width: 35vw;
    left: 33vw;
    padding: 48px;
  }
  #birthDate{
    font-size: x-large;
  }
  .mt-5{
    margin-top: 2px !important;
  }

 
  
}